.ninja-card {
  background-color: white;
  width: auto;
  margin: 2vw 0 2vw;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #cacaca;
  -webkit-box-shadow: 0px 0px 10px 1px #cacaca;
  -moz-box-shadow: 0px 0px 10px 13px #cacaca;
}
.ninja-card:hover{
  box-shadow: 0px 0px 10px 1px #126d2d;
  -webkit-box-shadow: 0px 0px 10px 1px #126d2d;
  -moz-box-shadow: 0px 0px 10px 13px #cacaca;
}
.ninja-avatar {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.default-avatar {
  content: url("../../default-user-pp.svg");
  display: block;
  width: 65%;
  margin: 10% auto;
}

.ninja-info,
.ninja-social {
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  padding: 10%;
}
.social-icons a {
  padding: 0 0.2vw;
}

.github-icon,
.linkedin-icon,
.twitter-icon {
  width: 2rem;
  height: 2rem;
}
.github-icon {
  content: url("../../github-logo.svg");
}
.linkedin-icon {
  content: url("../../linkedin-logo.svg");
}
.twitter-icon {
  content: url("../../twitter-logo.svg");
}
.ninja-info {
  text-align: center;
}
.info-body > p {
  margin: 0 auto;
  line-height: 2vw;
  font-family: Verdana;
  font-weight: 500;
  text-align: left;
}
